.dsg-container {
  border: solid 1px #e8ebed;
  border-top: none;
  border-left: none;
}

.dsg-row {
  background: white;
  box-shadow: 0 1px #e8ebed inset;
  display: flex;
}

.dsg-cell {
  background: white;
  border: solid 1px #e8ebed;
  border-bottom: none;
  border-right: none;
  box-shadow: 1px 1px #e8ebed;
}

.dsg-cell-gutter {
  position: sticky;
  left: 0;
}

.dsg-cell-sticky-right {
  position: sticky;
  right: 0;
}
