.dsgContainer {
  box-shadow: 0 0 0 1px rgb(232, 235, 237) inset;
  cursor: cell;
  background: white;
  user-select: none;
}

.dsgCornerIndicator {
  margin: auto;
  width: 0;
  border-bottom: solid 10px rgb(157, 166, 171);
  border-left: solid 10px transparent;
}

.dsgCell {
  display: flex;
  align-items: center;
  border: solid 1px rgb(232, 235, 237);
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
}

.dsgCellDisabled {
  background: rgb(250, 250, 250);
}

.dsgCellHeader, .dsgCellGutter {
  color: rgb(157, 166, 171);
  padding: 0 10px;
  transition: color .1s;
  z-index: 1;
}

.dsgCellGutter {
  padding: 0 5px;
}

.dsgCellHeaderActive, .dsgCellGutterActive {
  color: black;
}

.dsgCellGutterActive {
  box-shadow: 2px 0 rgb(69, 128, 230);
}

.dsgCellHeaderActive {
  box-shadow: 0 2px rgb(69, 128, 230);
}

.dsgActiveCell, .dsgSelectionRect {
  position: absolute;
  border: solid 2px rgb(69, 128, 230);
  box-sizing: border-box;
  border-radius: 2px;
  transition: all .1s;
  pointer-events: none;
}

.dsgActiveCellFocus {
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.dsgActiveCellDisabled, .dsgSelectionRectDisabled {
  border-color: #9DA6AB;
}

.dsgSelectionRect {
  background: rgba(69, 128, 230, 0.04);
}

.dsgSelectionRectDisabled {
  background: rgba(0, 0, 0, 0.04);
}

.dsgInput {
  display: block;
  flex: 1;
  width: 50%;
  border: none;
  align-self: stretch;
  box-sizing: border-box;
  background: none;
  padding: 0 10px;
}

.dsgAddRow {
  background: rgb(250, 250, 250);
  padding: 5px 10px;
  border: solid 1px rgb(232, 235, 237);
  border-top: none;
  box-sizing: border-box;
  text-align: left;
}
